# OS specific
.DS_Store

# Build files
build/
.antlr/

# Output files
*_wrap.cc
*_wrap.h
*.png

# IDE
settings.json
*.sublime-project
*.sublime-workspace

# Test files
test

# Link to source files to process
resources
resources.*
